@charset "utf-8";
.layui-colla-item{

}
table{
	width:100%;
}
table>tr>td:first-child,
table>tr>th:first-child,
table>tbody>tr>td:first-child,
table>tbody>tr>th:first-child{
	min-width:100px;
	font-weight: 700;
}
table td,table th{
	padding:6px 12px;
}

table.product>tbody>tr>td,
table.product>tbody>tr>th
{
	font-weight: normal;
}
table.product>thead>tr>td,
table.product>thead>tr>th{
	font-weight: 700;
}

.deliveryBlock{
	margin-top:20px;
	text-align: right;

}

#deliveryModal .modal-form{
	width:600px;
}
#deliveryModal .layui-input-block{
	padding:9px 15px;
}
#waybillModal .modal-form{
	width:600px;
}
#waybillModal .layui-input-block{
	padding:9px 15px;
}